/* 

STYLE CLASSES SPECS

    .newRow
        Apply to the element you want to start a new row of elements


    .fullWidth
        Apply on the element you want to be 100% of the parent


    .fullWidth_with 
        Works with .padding class; like .fullWidth but with a bit of padding


    .halfWidth 
        Apply on the element you want to be 50% of the parent


    .halfWidth_with 
        Works with .padding class; like .halfWidth but with a bit of padding


    .thirdWidth 
        Apply on the element you want to be 33% of the parent


    .thirdWidth_with 
        Works with .padding class; like .thirdWidth but with a bit of padding


    .quarterWidth 
        Apply on the element you want to be 25% of the parent


    .quarterWidth_with 
        Works with .padding class; like .quarterWidth but with a bit of padding


    .padding
        A common class to add padding to positioned elements

    .floatLeft
        An element to float left

    .floatRight
        An element to float right


##################

POINTING AND TIPIZATION CLASSES

    .textField 
        Refers to a block containing a field with text

    .date
        Refers to a block containing a field with a date

    .localized
        Refers to a block containing a field with a value (date or something) wich needs to be localized for readability (REMEMBER to convert it to database standards)

    .radio 
        Refers to a block containing a radio button

    .checkBox
        Refers to a block containing a checkbox

    .textArea
        Refers to a block containing a textarea

    .email
        Refers to a block containing a field with a string in e-mail pattern

    .freeText
        A block containing free text (presentational or hints)

    .btnsArea
        A block containing hidden input and buttons

*/

/* ### GLOBAL STYLES ### */

html {
    font-family: "Verdana", "Arial", sans-serif;
}


.floatLeft {
    float: left !important;
}

.floatRight {
    float: right !important;
}

.newRow {
    clear: both;
}

#formsWrapper,
#formsWrapper * {
    margin: 0;
    /*padding: 0;*/
    position: relative;
    font-size: 1em;
    float: left;
}

form {
    color: #333;
}

form input,
form select,
form textarea,
.fakeInput {
    border: 1px solid #9BABB0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    color: #666666;
    font-family: "Courier", "Courier New" !important;
}

form fieldset {
    float: left;
    border: 1px solid #9BABB0;
    border-top: 2em solid #9BABB0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding-bottom: 10px !important;
    /*margin-bottom: 20px !important;*/
    background: #fff;
}

form fieldset legend {
    font-size: 1.2em !important;
    font-weight: bolder;
    margin-top: -2em !important;
}

form label,
.fakeLabel{
    font-size: 0.95em !important;
    font-weight: bolder;
}

button {
    background: #ddd;
    border: 2px solid #9BABB0;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 5px 10px !important;
}



/* BASIC SIZING CLASSES */

.fullWidth {
    width: 100%;
}

.fullWidth_with {
    width: 99%;
}

.halfWidth {
    width: 50%;
}

.halfWidth_with {
    width: 49%;
}

.thirdWidth {
    width: 33%;
}

.thirdWidth_with {
    width: 32.33%;
}

.quarterWidth {
    width: 25%;
}

.quarterWidth_with {
    width: 24%;
}

/* */

form .padding {
    padding: 5px 0.5% !important;
}


/* ### SPECIFIC ELEMENT STYLE ### */



.radio label,
.checkBox label,
.radio input,
.checkBox input {
    width: auto;
    margin-right: 10px !important;
    float: left;
    line-height: 1em;
}

/* ### TMP DEBUG CODE */


/* jQuery UI patches */

.ui-tabs .ui-tabs-nav li a {
    float: left !important;
    padding: 0.5em 1em !important;
}

.ui-tabs .ui-tabs-nav {
    padding: 0.2em 0.2em 0 !important;
    float: none !important;
}

.ui-tabs,
.ui-tabs-panel {
    padding: 0.8em 0.6em !important;
    width: 98.3% !important;
}

/* ### THEME SWITCHER */

#themeSwitcher {
    position: fixed;
    border: #f90 3px solid;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    background: #fff;
    padding: 10px 15px;
    top: 20px;
    right: 20px;
    font-family: "Verdana", "Arial", sans-serif;
    font-size: 10px;
    z-index: 1000;
}