/* GLOBAL STYLES */

html {
    font-family: "Verdana", "Arial", sans-serif;
}

#formsWrapper,
#formsWrapper * {
    margin: 0;
    padding: 0;
    position: relative;
    font-size: 1em;
    float: left;
}

form {
    color: #333;
}

form input,
form select,
form textarea {
    border: 1px solid #9BABB0;
    border-radius: 4px 4px 4px 4px;
    color: #666666;
    font-family: "Courier", "Courier New"
}

form fieldset {
    float: left;
    border: 1px solid #9BABB0;
    border-top: 2em solid #9BABB0;
    border-radius: 4px 4px 4px 4px;
    padding-bottom: 10px !important;
}

form fieldset legend {
    font-size: 1.2em !important;
    font-weight: bolder;
    margin-top: -1.8em !important;
}

form label {
    font-size: 0.95em !important;
    font-weight: bolder;
}



/* BASIC SIZING CLASSES */

.fullWidth {
    width: 100%;
}

.fullWidth_with {
    width: 98%;
}

.halfWidth {
    width: 50%;
}

.halfWidth_with {
    width: 48%;
}

.thirdWidth {
    width: 33%;
}

.thirdWidth_with {
    width: 31.3%;
}

.quarterWidth {
    width: 25%;
}

.quarterWidth_with {
    width: 23%;
}

/* */

form .padding {
    padding: 5px 1% !important;
}





/* ### TMP DEBUG CODE */


#formsWrapper {
    /*background: #eee;*/
}



#formsWrapper form fieldset legend {
    /*background: #ccc;*/
}

